<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mainpage.css" />

    <%- include('../common/include.ejs') %>
    <style>
      @font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <!-- icon cdn  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../common/nav.ejs') %> <% const srcs = [
    ['dog.jpg','dog2.jpg','dog3.jpg'], ['english1.jpg', 'english2.jpg',
    'english3.jpg'], ['model.jpg', 'model2.jpg', 'model3.jpg'], ['food.jpg',
    'food2.jpg', 'food3.jpg'], ['festival2.jpg', 'festival3.jpg',
    'festival.jpg'], ] %> <% for (let i=0; i < srcs.length; i++) {%> <%# for
    (let i=0; i < 2 ; i++) {%>
    <div class="box">
      <div class="card">
        <div class="profile">
          <div class="profileImg"><%= %></div>
          <div class="profileName">userId <%= %></div>
        </div>
        <div class="slideBox">
          <% for (let k=0; k < srcs[i].length; k++) {%>
          <div class="slideImg slideImgFile<%=[k]%>">
            <img src="/static/img/<%= srcs[i][k] %>" alt="" />
          </div>
          <% } %>
          <a class="prev btn" onclick="">❮</a>
          <a class="next btn" onclick="">❯</a>

          <!-- <a class="prev btn" onclick="plusSlides(-1)">❮</a>
        <a class="next btn" onclick="plusSlides(1)">❯</a> -->
        </div>
        <div class="userWriting">
          <div><i class="heart-icon bi bi-heart"></i> <%= %></div>

          <div>
            <img
              src="/static/img/search.jpg"
              alt="자세히보기"
              class="search"
              title="확대"
            />
          </div>
          <div>
            <img
              src="/static/img/send.jpg"
              alt="메세지보내기"
              class="sendMessage"
              title="메세지보내기"
            />
            <%= %>
          </div>
          <br /><br />
        </div>

        <div class="commentBox">
          <img src="/static/img/chat.jpg" alt="댓글창" class="comment" />
          <input
            type="text"
            name="content"
            class="content"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='댓글달기'"
            placeholder="댓글달기"
          />
        </div>
      </div>

      <div class="hiddenBox">
        <div class="hiddenImg">
          <div class="halfImg">
            <a class="hiddenPrev btn" onclick="">❮</a>
            <a class="hiddenNext btn" onclick="">❯</a>
            <% for (let k=0; k < srcs[i].length; k++) {%>
            <div class="halfSlide halfImgFile<%=[k]%>">
              <img src="/static/img/<%= srcs[i][k] %>" alt="" />
            </div>
            <% } %>
          </div>
          <div class="hiddenComment">
            <div class="profile">
              <div class="profileImg"><%= %></div>
              <div class="profileName">userId <%= %></div>
            </div>
            <br />
            <div class="slideWriting"><%= %></div>

            <div class="slideComment">
              <div class="commentLike">
                <div><i class="heart-icon bi bi-heart"></i> <%= %></div>
                <div>
                  <img
                    src="/static/img/send.jpg"
                    alt="메세지보내기"
                    class="send"
                    title="메세지보내기"
                  />
                </div>

                <!-- <%= %> -->
                <div class="inputBox">
                  <img
                    src="/static/img/chat.jpg"
                    alt="댓글창"
                    class="inputComment"
                  />
                  <input
                    type="text"
                    name="hiddenContent"
                    class="hiddenContent"
                    onfocus="this.placeholder=''"
                    onblur="this.placeholder='댓글달기'"
                    placeholder="댓글달기"
                  />
                </div>
              </div>
            </div>
          </div>

          <img src="/static/img/close.jpg" alt="" class="close" />
        </div>
      </div>
    </div>

    <% } %>
  </body>
  <script src="/static/js/mainpage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function mypage() {
      function getParameterByName(name) {
          name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
          var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
          return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      var id = getParameterByName('id');

      axios({
        method: 'POST',
        url: '/user/mypage',
        data: {
          id
        },
      }).then((data) => {
        document.location.href = `/user/mypage?isLogin=${data.data.isLogin}?id=${data.data.id}`;
      })
    }
  </script>
</html>
