<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pocogram</title>
  <link rel="stylesheet" href="/static/css/mainpage.css" />

  <%- include('../common/maininclude.ejs') %>
    <style>
      @font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <!-- icon cdn  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="icon" href="/static/img/pocopabicon.png">
</head>

<body>
 

  <!-- 임시 이미지 -->
  <%- include('../common/mainnav.ejs') %>
    <% for(let i=0; i < data.length ; i++) {%>
      <div class="box">
       
        <div class="card">
          <div class="profile">
            <div class="profileImg">
              <% if(data[i].user.profile_img!=null){ %>
              <img src="../../<%=data[i].user.profile_img %>">
              <% }else{ %>
              <img src="../../static/img/profile_img.PNG %>">
              <% } %>
            </div>
            <div class="profileName">
              <%= data[i].user.userID %>
            </div>
          </div>
          <!-- 슬라이드 -->
          <div class="slideBox">
            <% let imgArray = data[i].img_src.slice(0,-4).split("~!@#") %>
            <% for (let k=0; k < imgArray.length; k++) {%>
            <div class="slideImg slideImgFile<%=[k]%>">
              <img src="../../<%= imgArray[k] %>" alt="" />
            </div>
            <% } %>
            <a class="prev btn" onclick="">❮</a>
            <a class="next btn" onclick="">❯</a>
          </div>

              <div class="userWriting">
                <div class="heartList">
                  <% let isHeart=false; %>
                  <% if(isLogin){ %>
                  <%  for(let j=0;j<data[i].likes.length; j++){ %>
                  <%    if(data[i].likes[j].user_id==user_id){ %>
                  <%      isHeart=true; %>
                  <% }} %>
                  <% if(isHeart){ %>
                    <i class="heart-icon<%= data[i].id%> bi bi-heart-fill heart-icon" onclick="like(this, '<%= data[i].id %>')"></i>
                  <% }else{ %>
                    <i class="heart-icon<%= data[i].id%> bi bi-heart heart-icon" onclick="like(this, '<%= data[i].id %>')"></i>
                  <% } %>
                  <% }else{ %>
                    <i class="heart-icon<%= data[i].id%> bi bi-heart heart-icon-isNotLogin" onclick="like(this, '<%= data[i].id %>')"></i>
                  <% }%>
                  <div class="good">좋아요 <span class="heart-num"><%= data[i].likes.length %></span>개</div>
              
                 <div class="imgicons">
                  <img src="/static/img/search.jpg" alt="자세히보기" class="search" title="확대" />
                  
                </div>
                </div>
            
                <div class="content-container">
                  <div class="contentWrite">
                    <% let month = {'Jan':'1','Feb':'2','Mar':'3','Apr':'4','May':'5','Jun':'6','Jul':'7','Aug':'8','Sep':'9','Oct':'10','Nov':'11','Dec':'12'}%>
                    <% let createdAt = data[i].createdAt.toString().split(" ") %>
                    <% let updatedAt = data[i].updatedAt.toString().split(" ") %>
                    <% let createdAtTime = createdAt[4].split(":") %>
                    <% let updatedAtTime = updatedAt[4].split(":") %>
                    내용 : <%= data[i].content %> <br>
                      등록일 : <%= createdAt[3] %>년 <%= month[createdAt[1]] %>월 <%= createdAt[2] %>일 <%= createdAtTime[0] %>시 <%= createdAtTime[1] %>분<br>
                  </div>
                </div>
              
                <br /><br />
              </div>
              <div class="commentBox">
                <img src="/static/img/chat.jpg" alt="댓글창" class="comment" />
                <form name="uploadComment-form<%= data[i].id %>" class="uploadCommentMain-form">
                  <input type="text" name="content" class="content" onfocus="this.placeholder=''"
                    onblur="this.placeholder='댓글달기'" placeholder="댓글달기" />
                  <button type="button" onclick="uploadComment(this, '<%= data[i].id %>',true)" class="commentUpBtn">댓글 등록</button><br>
                </form>
              </div>
        </div>
    
        <!-- <div class="backColor"></div> -->
        <!-- ===================================== 확대 ===================================== -->
        
          <div class="hiddenBox">
            <div class="hiddenImg">
              <div class="halfImg">
                <div class="slideBox">
                  <% for (let k=0; k < imgArray.length; k++) {%>
                  <div class="slideImg hiddenSlideBox slideImgFile<%=[k]%>">
                    <img src="../../<%= imgArray[k] %>" alt="" />
                  </div>
                  <% } %>
                  <a class="prev btn" id="HiddenPrevBtns" onclick="">❮</a>
                  <a class="next btn" id="HiddenNextBtns" onclick="">❯</a>
                </div>
              </div>
              <div class="hiddenComment">
                
                <div class="profile profileBox">
                  <div class="hiddenpro">
                    <div class="profileImg">
                      <% if(data[i].user.profile_img!=null){ %>
                      <img src="../../<%=data[i].user.profile_img %>">
                      <% }else{ %>
                      <img src="../../static/img/profile_img.PNG %>">
                      <% } %>
                    </div>
                  <div class="profileNames">
                  <%= data[i].user.userID %>
                </div>
              </div>
                <% if(isLogin){if(user==data[i].user.userID){ %>
                  <div class="management-btn">
                    <button onclick="postingFix();editPost(this, '<%= data[i].id %>',false);" class="FormEdit">수정</button>
                    <button onclick="deletePost(this, '<%= data[i].id %>')" class="FormDelete">삭제</button>
                  </div>
                  <% }}%>
              </div>
            
              <div class="slideWriting">
                <div class="hiddenContent">  
                  <% let createdAtHidden = data[i].createdAt.toString().split(" ") %>
                    <% let createdAtTimeHidden = createdAtHidden[4].split(":") %>
                    게시글 내용 : <%= data[i].content %> <br>
                    게시글 등록일 : <%= createdAtHidden[3] %>년 <%= month[createdAtHidden[1]] %>월 <%= createdAtHidden[2] %>일 <%= createdAtTimeHidden[0] %>시 <%= createdAtTimeHidden[1] %>분<br>                 
                
                    <div class="contentChild">
                        <form name="editPost-form-hidden<%= data[i].id %>">
                          <input type="text" id="userPostEdit" class="edit-content<%= data[i].id %>" /> 
                          <div class="buttonChild">
                          <button type="button" onclick="editPostDo(this, '<%= data[i].id %>',false)" class="change">변경</button>
                          <button type="button" onclick="postingCancel();editPostCancel(this, '<%= data[i].id %>');" class="cancel">취소</button>
                        </div>
                        </form>
                      
                    </div>
                </div>

                
                <div class="hiddenUsersComment">
                  <% for(let j=0; j<data[i].comments.length; j++){ %>
                    <div>
                    <%= data[i].comments[j].user.userID %> : 
                    <%= data[i].comments[j].content %><br>
                    <% let createdAtHiddenComment = data[i].comments[j].createdAt.toString().split(" ") %>
                    <% let createdAtTimeHiddenComment = createdAtHiddenComment[4].split(":") %>
                    등록일 : <%= createdAtHiddenComment[3] %>년 <%= month[createdAtHiddenComment[1]] %>월 <%= createdAtHiddenComment[2] %>일 <%= createdAtTimeHiddenComment[0] %>시 <%= createdAtTimeHiddenComment[1] %>분<br>                 
                      
                    <% if(isLogin){if(user==data[i].comments[j].user.userID){ %>
                      <div class="commentEditDeleteBtn">
                        <button type="button" onclick="commentShow('<%= data[i].id %>', '<%= data[i].comments[j].id %>');editComment(this, '<%= data[i].id %>', '<%= data[i].comments[j].id %>');" class="commentEditBtn">댓글 수정</button><br>
                        <button type="button" onclick="deleteComment(this, '<%= data[i].comments[j].id %>')" class="commentDeleteBtn">댓글 삭제</button>
                      </div>
                      <div class="commentBoxes commentBoxes<%= data[i].id %><%= data[i].comments[j].id %>">
                      <form name="editComment-form<%= data[i].id %><%= data[i].comments[j].id %>" class="editComment-form display-none">
                        <input type="text" id="content" class="edit-content<%= data[i].id %><%= data[i].comments[j].id %>"/> <br />
                        <button type="button" onclick="commentEditDo(this,  '<%= data[i].id %>', '<%= data[i].comments[j].id %>')" class="CommentChange">변경</button>
                        <button type="button" onclick="commentEditCancel('<%= data[i].id %>', '<%= data[i].comments[j].id %>');" class="commentCancel">취소</button>
                      </form>
                    </div>
                    <% } %>
                    <% } %>
                    </div>
                    <hr>
                  <% } %>
                </div>
              </div>

              <!-- <div class="slideComment"> -->
                <div class="commentLike">
                  <hr>
                  <div>
                    <% let isHeartHidden=false; %>
                    <% if(isLogin){ %>
                    <%  for(let j=0;j<data[i].likes.length; j++){ %>
                    <%    if(data[i].likes[j].user_id==user_id){ %>
                    <%      isHeartHidden=true; %>
                    <% }} %>
                    <% if(isHeartHidden){ %>
                      <i class="heart-icon<%= data[i].id%> bi bi-heart-fill heart-icon-hidden heart-hidden-hiddenSlide" onclick="like(this, '<%= data[i].id %>')"></i>
                    <% }else{ %>
                      <i class="heart-icon<%= data[i].id%> bi bi-heart heart-icon-hidden heart-hidden-hiddenSlide" onclick="like(this, '<%= data[i].id %>')"></i>
                    <% } %>
                    <% }else{ %>
                      <i class="heart-icon<%= data[i].id%> bi bi-heart heart-icon-isNotLogin heart-hidden-isNotLogin" onclick="like(this, '<%= data[i].id %>')"></i>
                    <% }%>
                    <div class="hiddenLike">
                    좋아요 <span class="heart-num-hidden"><%= data[i].likes.length %></span>개
                    <button onclick="viewLikes(this, '<%= data[i].id %>')" class="likeUsers">좋아요한유저목록</button>
                  </div>
                  </div>
                  <!-- <div>
                    <img src="/static/img/send.jpg" alt="메세지보내기" class="send" title="메세지보내기" />
                  </div> -->
                  <div class="inputBox">
                    <form name="uploadComment-form-hidden<%= data[i].id %>" class="uploadComment-form">
                      <!-- <img src="/static/img/chat.jpg" alt="댓글창" class="inputComment" /> -->
                      <input type="text" name="content" class="content" onfocus="this.placeholder=''"
                        onblur="this.placeholder='댓글달기'" placeholder="댓글달기" />
                      <button type="button" onclick="uploadComment(this, '<%= data[i].id %>',false)" class="commentUpLoad">등록</button><br>
                    </form>
                  </div>
                  <div class="userLists">
                    <div class="likedPeople<%= data[i].id %>"></div>
                  </div>
                </div>
            
            </div>
            <img src="/static/img/close.jpg" alt="" class="close" />
          </div>
        </div>
      </div>
      <% } %>
    
      <div class="backColor"></div>
        <script src="/static/js/mainpage.js"></script>
</body>

<!-- <script src="/static/js/test.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>