<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocogram</title>
    <link rel="stylesheet" href="/static/css/mypageEdit.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <%- include('../common/include.ejs') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="icon" href="/static/img/pocopabicon.png">
  </head>
  <body>
    <%- include('../common/nav.ejs') %>
    
    <div class="editBox">
      <button type="button" onclick="signout();" id="logoutBtn">
        로그아웃
      </button>
        <div class="profileEdit">
            <div class="infoList">
                <div class="info" onclick="myInform()">내정보 수정</div>
                <div class="fix">게시글 관리</div>
                <div class="like">좋아요 보기</div>
            </div>
            <div class="editCard">
                <div class="myInformation">
                    <p>내정보 수정</p>
                    <div class="profileZone">
                      <span class="word profilePhoto">📷 프로필사진</span><br>
                        <img src="" alt="profileImg" id="profileImg"><br>
                        <input type="file" name="profileUpload" id="profileUpload"><br>
                        <button type="button" onclick="fileUpload();" id="fileUploadBtn">사진적용</button>
                      </div>
                    <div class="informationZone">
                      <form name="informForm">
                        <span class="word">✔ 아이디</span><br>
                        <input type="text" name="userID" id="userID" class="userInput" readonly><br>
                        <span class="word">✔ 이름</span><br>
                        <input type="text"  name="name" id="name" class="userInput" onchange="nameChange();" required><br>
                        <span class="word">✔ 생일</span><br>
                        <input type="text"  name="birth" id="birth" class="userInput" onfocus="(this.type='date')" onblur="(this.type='text')" onchange="birthChange();" required><br>
                        <button type="button" onclick="modifyInform();" disabled class="modifyInformBtn">수정</button>
                      </form>
                    </div>
                    <div class="passwordZone">
                      <form name="modifyPW_form">
                        <div class="word">✔ 새 비밀번호</div>
                          <input type="password"  name="newPW" id="newPW" class="userInput" minlength="8" maxlength="20" required>
                        <div class="word">✔ 비밀번호 확인</div>
                          <input type="password"  name="newPW_check" id="newPW_check" class="userInput" minlength="8" maxlength="20" required>
                        <div id="pwMsg"></div>
                        <button type="button" onclick="modifyPW();" class="modifyPWBtn">수정</button>
                      </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="postEdit">
            <p>게시글 관리</p><br>
            <% if(isLogin){ %>
            <% for(let i=0; i < postData.length ; i++) {%>
            <% let imgArray = postData[i].img_src.slice(0,-4).split("~!@#") %>
            <% let month = {'Jan':'1','Feb':'2','Mar':'3','Apr':'4','May':'5','Jun':'6','Jul':'7','Aug':'8','Sep':'9','Oct':'10','Nov':'11','Dec':'12'}%>
            <div class="post-container post">
              <div class="post-content">
                <span class="post-content-title">✏<%=postData[i].content%></span>
                <span class="post-content-more">More</span>
              </div>
              <div class="left-container">
                <% let postCreatedAt = postData[i].createdAt.toString().split(" ") %>
                <% let postCreatedAtTime = postCreatedAt[4].split(":") %>
                <span class="post-date">📅<%= postCreatedAt[3] %>년 <%= month[postCreatedAt[1]] %>월 <%= postCreatedAt[2] %>일 <%= postCreatedAtTime[0] %>시 <%= postCreatedAtTime[1] %>분</span>
                <span class="post-like">❤<%= postData[i].likes.length%></span>
                <span class="post-like">💬<%= postData[i].comments.length%></span>
              </div>
              <div class="post-more display-none">
                <hr>
                <div class="post-more-content">
                  <div class="post-more-img">
                    <% for(let j=0; j<imgArray.length; j++){%>
                      <img src="../../<%= imgArray[j] %>" alt="" />
                    <% } %>
                  </div>
                  <br>
                  <form name="post-edit-form<%= postData[i].id %>" class="post-edit-form">
                    <input type="text" id="postContent" value="<%= postData[i].content %>">
                    <div class="button-container">
                      <button onclick="editPost(this,'<%= postData[i].id %>')">수정</button>
                      <button onclick="deletePost(this,'<%= postData[i].id %>')">삭제</button>
                    </div>
                  </form>
                </div>
                <br>
                <div class="post-more-comment-like">
                  <div class="post-more-comment">
                    💬
                    <% if(postData[i].comments.length==0){ %>
                    <div>댓글 없음</div>
                    <% } %>
                    <% for(let j=0; j < postData[i].comments.length ; j++){ %>
                    <% let commentCreatedAt = postData[i].createdAt.toString().split(" ") %>
                    <% let commentCreatedAtTime = commentCreatedAt[4].split(":") %>
                    <div>
                      <span class="comment-user-name"><%= postData[i].comments[j].user.userID %></span>
                      <%= postData[i].comments[j].content %> | <%= commentCreatedAt[3] %>년 <%= month[commentCreatedAt[1]] %>월 <%= commentCreatedAt[2] %>일 <%= commentCreatedAtTime[0] %>시 <%= commentCreatedAtTime[1] %>분
                    </div>
                    <% } %>
                  </div>
                  <div class="post-more-like">
                    ❤
                    <% if(postData[i].likes.length==0){ %>
                      <div>좋아요 없음</div>
                      <% } %>
                      <% for(let j=0; j < postData[i].likes.length ; j++){ %>
                        <div class="like-user-name"><%= postData[i].likes[j].user.userID %></div>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <% }} %>
          </div>
          <div class="likeList">
            <p>좋아요 보기</p><br>
            <% if(isLogin){ %>
            <% for(let i=0; i < likeData.length ; i++) {%>
              <% let imgArray = likeData[i].post.img_src.slice(0,-4).split("~!@#") %>
              <% let month = {'Jan':'1','Feb':'2','Mar':'3','Apr':'4','May':'5','Jun':'6','Jul':'7','Aug':'8','Sep':'9','Oct':'10','Nov':'11','Dec':'12'}%>
              <div class="post-container post">
                <div class="post-content">
                  <span class="post-content-title">✏<%=likeData[i].post.content%></span>
                  <span class="post-content-more">More</span>
                </div>
                <div class="post-content">
                  <% let likedPostCreatedAt = likeData[i].post.createdAt.toString().split(" ") %>
                  <% let likedPostCreatedAtTime = likedPostCreatedAt[4].split(":") %>
                  <div class="left-container">
                    <span class="post-date">📅<%= likedPostCreatedAt[3] %>년 <%= month[likedPostCreatedAt[1]] %>월 <%= likedPostCreatedAt[2] %>일 <%= likedPostCreatedAtTime[0] %>시 <%= likedPostCreatedAtTime[1] %>분</span>
                    <span class="post-like">❤<%= likeData[i].post.likes.length%></span>
                    <span class="post-like">💬<%= likeData[i].post.comments.length%></span>
                  </div>
                  <i class="bi bi-heart-fill heart-icon" onclick="deleteLike(this,'<%= likeData[i].id %>')"></i>
                </div>
                <div class="post-more display-none">
                  <hr>
                  <div class="post-more-content">
                    <div class="post-more-img">
                      <% for(let j=0; j<imgArray.length; j++){%>
                        <img src="../../<%= imgArray[j] %>" alt="" />
                      <% } %>
                    </div>
                  </div>
                  <br>
                  <div class="post-more-comment-like">
                    <div class="post-more-comment">
                      💬
                      <% if(likeData[i].post.comments.length==0){ %>
                      <div>댓글 없음</div>
                      <% } %>
                      <% for(let j=0; j < likeData[i].post.comments.length ; j++){ %>
                      <% let likedPostCommentCreatedAt = likeData[i].post.createdAt.toString().split(" ") %>
                      <% let likedPostCommentCreatedAtTime = likedPostCommentCreatedAt[4].split(":") %>
                      <div>
                        <span class="comment-user-name"><%= likeData[i].post.comments[j].user.userID %></span>
                        <%= likeData[i].post.comments[j].content %> | <%= likedPostCommentCreatedAt[3] %>년 <%= month[likedPostCommentCreatedAt[1]] %>월 <%= likedPostCommentCreatedAt[2] %>일 <%= likedPostCommentCreatedAtTime[0] %>시 <%= likedPostCommentCreatedAtTime[1] %>분
                      </div>
                      <% } %>
                    </div>
                    <div class="post-more-like">
                      ❤
                      <% if(likeData[i].post.likes.length==0){ %>
                        <div>좋아요 없음</div>
                        <% } %>
                        <% for(let j=0; j < likeData[i].post.likes.length ; j++){ %>
                          <div class="like-user-name"><%= likeData[i].post.likes[j].user.userID %></div>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <% }} %>
            </div>
            
          </div>
        </div>
    <input type="hidden" name="isLogin" value="<%= isLogin %>" id="isLogin">
    <input type="hidden" id="nameHidden">
    <input type="hidden" id="birthHidden"></input>
</body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/mypageEdit.js"></script>
</html>