<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postView</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/postView.css">
</head>

<body>
    <a href="/user/signin">로그인</a>
    <br><a href="/">홈</a>
    <br><a href="/post">포스트보기</a>
    <br><a href="/post/upload">포스트올리기</a>
    <hr>
    전체 포스트
    <% for (let i=0; i < data.length; i++) { %>
        <div class="posts">
            <hr>
            <div>
                게시자 : <%= data[i].user.userID %>
            </div>
            <div>
                내용 : <%= data[i].content %>
                <form name="editPost-form<%= data[i].id %>" class="display-none">
                    <input type="text" id="content" class="edit-content<%= data[i].id %>"/> <br />
                    <button type="button" onclick="editPostDo(this, '<%= data[i].id %>')">변경</button>
                    <button type="button" onclick="editPostCancel(this, '<%= data[i].id %>')">취소</button>
                </form>
            </div>
            <div>
                등록 날짜 : <%= data[i].createdAt %>
            </div>
            <div>
                수정 날짜 : <%= data[i].updatedAt %>
            </div>
            <div>
                <% if(data[i].img_src){%>
                <img src="../../<%= data[i].img_src %>">
                <% } %>
            </div>
            <button onclick="viewThisPost(this, '<%= data[i].id %>')">자세히보기</button>
            <button onclick="deletePost(this, '<%= data[i].id %>')">삭제하기</button>
            <button onclick="editPost(this, '<%= data[i].id %>')">수정하기</button>
            <button onclick="viewComment(this, '<%= data[i].id %>')">댓글보기</button>
            <div class="like like-off">
                <p class="likes">좋아요 개수 : <%= data[i].likes.length %></p>
                <button onclick="like(this, '<%= data[i].id %>')">좋아요</button>
                <button onclick="viewLikes(this, '<%= data[i].id %>')">좋아요한유저목록</button>
            </div>
            <form name="uploadComment-form<%= data[i].id %>" class="display-none uploadComment-form">
                <hr>
                <input type="text" id="content" placeholder="댓글내용"/> <br />
                <button type="button" onclick="uploadComment(this, '<%= data[i].id %>')">댓글 등록</button><br>
                <hr>
                <div class="comment-list<%= data[i].id %>"></div>
            </form><hr>
            <form name="editComment-form<%= data[i].id %>" class="editComment-form display-none">
                <input type="text" id="content" class="edit-content<%= data[i].id %>"/> <br />
                <button type="button" onclick="commentEditDo(this, '<%= data[i].id %>')">변경</button>
                <button type="button" onclick="commentEditCancel(this, '<%= data[i].id %>')">취소</button>
            </form>
        </div>
        <% } %>



        <script src="/static/js/postView.js"></script>
</body>

</html>